In [11]:
import matplotlib
import pandas as pd
import requests
import json

In [12]:
data_file = "Most-Recent-Cohorts-Scorecard-Elements (1).csv"

In [15]:
data_file_pd = pd.read_csv(data_file)
data_file_pd.head()

In [14]:
data_file_pd[["SATVR25", "UGDS_ASIAN"]].head()

   SATVR25  UGDS_ASIAN
0    380.0      0.0019
1    480.0      0.0598
2      NaN      0.0000
3    520.0      0.0414
4    370.0      0.0028

In [16]:
average = data_file_pd["SATVR25"].mean()
average

467.58061889250814

In [17]:
total_students = data_file_pd["UGDS"].sum()
total_students

15627822.0